#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.GameBoard {
  display: grid;
  width: min(80vh, 800px);
  display: grid;
  grid-template: repeat(8, min(10vh, 100px)) / repeat(8, min(10vh, 100px));
  border: .2vh solid black;
}

.boardBtn {
  grid-column: span 1;
  background: transparent no-repeat center center / 80%;
  border: .2vh solid gray;
  transition: .3s ease background-color;
}

.black {
  background-color: #75A3D1;
}

.black:hover {
  background-color: #6699CC;
}

.white {
  background-color: #C2D6EB;
}

.white:hover {
  background-color: #B3CCE6;
}

.selected {
  background-color: #527AA3;
}

.inCheck {
  background-color: pink;
}

.highlighted::after {
  content: '';
  display: block;
  background-color: darkcyan;
  position: relative;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  opacity: .75;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
}

.pieceDisplay {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  padding: 10px 0;
}

.pieceImg {
  height: 75px;
  flex-grow: 1;
  margin: 5px;
  flex-basis: 40%;
  max-width: 50%;
  background: transparent no-repeat center center / contain;
}

.blackKing {
  background-image: url("Images/BlackKing.png");
}

.whiteKing {
  background-image: url("Images/WhiteKing.png");
}

.blackQueen {
  background-image: url("Images/BlackQueen.png");
}

.whiteQueen {
  background-image: url("Images/WhiteQueen.png");
}

.blackKnight {
  background-image: url("Images/BlackKnight.png");
}

.whiteKnight {
  background-image: url("Images/WhiteKnight.png");
}

.blackBishop {
  background-image: url("Images/BlackBishop.png");
}

.whiteBishop {
  background-image: url("Images/WhiteBishop.png");
}

.blackRook {
  background-image: url("Images/BlackRook.png");
}

.whiteRook {
  background-image: url("Images/WhiteRook.png");
}

.blackPawn {
  background-image: url("Images/BlackPawn.png");
}

.whitePawn {
  background-image: url("Images/WhitePawn.png");
}

.loading, .loading * {
  pointer-events: none !important;
}