body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.buttonHolder {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.resetButton {
  background-color: #75a3d1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.2s ease background-color;
  font-size: 20px;
}

.resetButton:hover,
.resetButton:focus {
  background-color: #6699cc;
}

.GameBoard {
  display: grid;
  width: 80vw;
  height: 80vw;
  width: min(min(80vh, 80vw), 800px);
  height: min(min(80vh, 80vw), 800px);
  display: grid;
  grid-template: repeat(8, min(min(10vh, 10vw), 100px)) / repeat(
      8,
      min(min(10vh, 10vw), 100px)
    );
  border: 0.2vh solid black;
}

.GameBoard.rotated {
  transform: rotate(180deg);
}

.GameBoard.rotated .boardBtn {
  transform: rotate(180deg);
}

.boardBtn {
  grid-column: span 1;
  background: transparent no-repeat center center / 80%;
  border: 0.2vh solid gray;
  transition: 0.3s ease background-color;
}

.black {
  background-color: #75a3d1;
}

.black:hover {
  background-color: #6699cc;
}

.white {
  background-color: #c2d6eb;
}

.white:hover {
  background-color: #b3cce6;
}

.selected,
.selected:hover,
.selected:active,
.selected:focus {
  background-color: #527aa3;
}

.inCheck,
.inCheck:hover,
.inCheck:active,
.inCheck:focus {
  background-color: pink;
}

.inCheckMate,
.inCheckMate:hover,
.inCheckMate:active,
.inCheckMate:focus {
  background-color: red;
}

.highlighted::after {
  content: "";
  display: block;
  background-color: darkcyan;
  position: relative;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  opacity: 0.75;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
}

.pieceDisplay {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  padding: 10px 0;
}

.pieceImg {
  height: 75px;
  flex-grow: 1;
  margin: 5px;
  flex-basis: 40%;
  max-width: 50%;
  background: transparent no-repeat center center / contain;
}

.blackKing {
  background-image: url("Images/BlackKing.png");
}

.whiteKing {
  background-image: url("Images/WhiteKing.png");
}

.blackQueen {
  background-image: url("Images/BlackQueen.png");
}

.whiteQueen {
  background-image: url("Images/WhiteQueen.png");
}

.blackKnight {
  background-image: url("Images/BlackKnight.png");
}

.whiteKnight {
  background-image: url("Images/WhiteKnight.png");
}

.blackBishop {
  background-image: url("Images/BlackBishop.png");
}

.whiteBishop {
  background-image: url("Images/WhiteBishop.png");
}

.blackRook {
  background-image: url("Images/BlackRook.png");
}

.whiteRook {
  background-image: url("Images/WhiteRook.png");
}

.blackPawn {
  background-image: url("Images/BlackPawn.png");
}

.whitePawn {
  background-image: url("Images/WhitePawn.png");
}

.loading,
.loading * {
  pointer-events: none !important;
}
